html, body, #root {
  height: 100%;
  overflow-y: auto; /* Включаем прокрутку для всего документа */
  margin: 0;
  padding: 0;
}

.window {
  box-sizing: border-box;
}

.app {
  height: 100%;
}

@media (max-width: 768px) {
  /* Стили для мобильных устройств */
  /* Например, уменьшить размеры некоторых элементов */
}
